<input type="hidden" name="locator_beacon" value="1"/>
<fieldset>

<MTIfNonZero tag="LocatorFieldAddress">
<mtapp:setting
	id="location_address"
	label="<__trans phrase="Address">"
	label_class="top-label"
	hint="<__trans phrase="The address of the site associated with .">">
	<div class="textarea-wrapper">
	<input name="location_address" id="location_address" class="full-width" value="<mt:var name="location_address" escape="html">" onchange="updateSearchFormField();"/>
	</div>
</mtapp:setting>
</MTIfNonZero>

<MTIfNonZero tag="LocatorFieldMap">
<mtapp:setting
	id="location_map"
	label="<__trans phrase="Map">"
	label_class="top-label"
	hint="<__trans phrase="The location of the site associated with .">">

<div id="candidate_window" style="display: none; text-align: center;">
<input type="button" value="<__trans phrase="Set this location">"/>
</div>
<div id="locate_window" style="display: none; text-align: center;">
<input type="button" value="<__trans phrase="Unset this location">"/>
</div>
<div id="location_results" style="display: none">
</div>

<div id="update_zoom_window" style="display: none; width: 150px; background: white;text-align: center;">
<__trans phrase="Zoom has changed. Did you update zoom value?"><br/>
<input type="button" value="<__trans phrase="update">"/>
</div>

<input name="location_latitude_g" type="hidden" id="location_latitude_g" value="<mt:var name="location_latitude_g">" />
<input name="location_longitude_g" type="hidden" id="location_longitude_g" value="<mt:var name="location_longitude_g">" />
<input name="location_zoom_g" type="hidden" id="location_zoom_g" value="<mt:var name="location_zoom_g">" />

<div id="location_map" class="full-with" style="height: 500px"></div>

<script
	src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<MTGoogleMapAPIKey/>"	type="text/javascript"
>
</script>

<script
	src="http://www.google.com/uds/api?file=uds.js&v=1.0&key=<MTGoogleMapAPIKey/>"
	type="text/javascript"
></script>
<script
	src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js"
	type="text/javascript"
></script>

<style type="text/css">
@import url("http://www.google.com/uds/css/gsearch.css");
@import url("http://www.google.com/uds/solutions/localsearch/gmlocalsearch.css");
</style>
<script type="text/javascript">
//<![CDATA[

if (GBrowserIsCompatible()) {
	var locator_init_googlemap = function() {
		var locate = null;
		var cand = null;
		var map = null;
	
		function updateZoomValue() {}

		updateZoomValue.prototype = new GControl();

		updateZoomValue.prototype.initialize = function(map) {
			var container = document.createElement("div");

			var uzw = $('update_zoom_window');
			var input = uzw.getElementsByTagName('input')[0];
			input.onclick = function() {
				$('location_zoom_g').value = map.getZoom();
				uzw.style.display = 'none';
			};
			container.appendChild(uzw);
			map.getContainer().appendChild(container);

			GEvent.addListener(map, 'zoomend', function(oz, nz) {
				if (
					($('location_zoom_g').value != nz)
					&& ($('location_zoom_g').value != '')
				) {
					uzw.style.display = '';
				}
				else {
					uzw.style.display = 'none';
				}
			});

			return container;
		}

		updateZoomValue.prototype.getDefaultPosition = function() {
			return new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(15, 40));
		}

		function updateLocationPoint(point, word) {
			if (locate) {
				map.removeOverlay(locate);
			}

			var blueIcon = new GIcon(G_DEFAULT_ICON);
			blueIcon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png";
			blueIcon.iconSize = new GSize(32, 32);
			locate = new GMarker(
				point,
				{
					icon: blueIcon
				}
			);
			map.addOverlay(locate);

			$('location_latitude_g').value = point.lat();
			$('location_longitude_g').value = point.lng();
			if ($('location_zoom_g').value == '') {
				$('location_zoom_g').value = map.getZoom();
			}

			var lw = $('locate_window').cloneNode(true);
			if (word) {
				var div = document.createElement('div');
				div.style.textAlign = 'center';
				div.innerHTML = word;
				div.appendChild(lw);
				locate.openInfoWindow(div);
			}
			else {
				locate.openInfoWindow(lw);
			}
			lw.style.display = '';
			var input = lw.getElementsByTagName('input')[0];
			input.onclick = function() {
				if (window.confirm('<__trans phrase="Unset this location OK?">')) {
					$('location_latitude_g').value = 0;
					$('location_longitude_g').value = 0;
					//$('location_zoom_g').value = '';
					map.removeOverlay(locate);
				}
			};

			GEvent.addListener(locate, 'infowindowclose', function() {
				this.window_opened = 0;
			});

			GEvent.addListener(locate, 'infowindowopen', function() {
				this.window_opened = 1;
			});

			GEvent.addListener(locate, 'click', function() {
				if (this.window_opened) {
					this.closeInfoWindow();
				}
				else {
					locate.openInfoWindow(lw);
				}
			});
		}

		function candidateLocationPoint(point, word, return_info_window) {
			if (cand) {
				map.removeOverlay(cand);
			}

			//cand = new GMarker(point, {draggable: true});
			cand = new GMarker(point);
			map.addOverlay(cand);

			var cw = $('candidate_window').cloneNode(true);
			var info_window = null;
			if (word) {
				var div = document.createElement('div');
				div.style.textAlign = 'center';
				div.innerHTML = word;
				div.appendChild(cw);
				info_window = div;
			}
			else {
				info_window = cw;
			}
			if (! return_info_window) {
				cand.openInfoWindow(info_window);
			}

			cw.style.display = '';
			var input = cw.getElementsByTagName('input')[0];
			input.onclick = function() {
				latlng = cand.getPoint();
				map.removeOverlay(cand);
				updateLocationPoint(latlng, '<__trans phrase="updated">');
			};

			GEvent.addListener(cand, 'infowindowclose', function() {
				this.window_opened = 0;
			});

			GEvent.addListener(cand, 'infowindowopen', function() {
				this.window_opened = 1;
			});

			GEvent.addListener(cand, 'click', function() {
				if (this.window_opened) {
					this.closeInfoWindow();
				}
				else {
					cand.openInfoWindow(cw);
				}
			});

			return info_window;
		}

		map = new GMap2(document.getElementById("location_map"));

		map.addControl(new GLargeMapControl());

		var lat = '<mt:var name="location_latitude_g">';
		var lng = '<mt:var name="location_longitude_g">';
		var zoom = '<mt:var name="location_zoom_g">';

		if (lat && lng && (lat !== '0') && (lng !== '0')) {
			var default_point = new GLatLng(lat,lng);
		}
		else {
			zoom = '<MT_TRANS phrase="Location default zoomlevel">';
			var default_point = new GLatLng(<MT_TRANS phrase="Location default latitude">,<MT_TRANS phrase="Location default longitude">);
		}

		map.setCenter(default_point, parseInt(zoom));

		if (lat && lng && (lat !== '0') && (lng !== '0')) {
			updateLocationPoint(default_point);
		}

		var options = {
			resultList : document.getElementById("location_results"),
			//searchFormHint : "Example Searches: Hotels in New York City",
			//linkTarget : GSearch.LINK_TARGET_BLANK,
			onGenerateMarkerHtmlCallback : onGenerateMarker,
			onMarkersSetCallback : onMarkersSet
		};
		// create a local search control and add it to your map
		var local_search = new google.maps.LocalSearch(options); 
		map.addControl(local_search);

		if (<$MTLocatorFieldZoom$>) {
			map.addControl(new updateZoomValue());
		}

		function onGenerateMarker(marker, html, result) {
			map.removeOverlay(marker);
			var iw = candidateLocationPoint(marker.getPoint(), local_search.searchForm.input.value, true);
			return iw;
			/*
			myStuff = document.createElement("div");
			myStuff.innerHTML = "Bookmark This Result...";
			html.appendChild(myStuff);
			return html;
			*/
		}

		function onMarkersSet(markers) {
		// note: markers is an array of LocalResult
			if (markers.length > 1) {
				// grab the title of the 2nd result object
				// if it matches starbucks, then alert
				var title = markers[1].result.titleNoFormatting;
				if (title.search(/starbucks/i) >= 0) {
					alert(markers[1].result.titleNoFormatting);
				}
			}
		}

		GEvent.addListener(map, "click", function(marker, point) {
			if (! marker) {
				candidateLocationPoint(point)
			}
		});


		var loc_addr_value = '';
		var loc_addr = $('location_address');
		function updateSearchFormField() {
			if (loc_addr.value && (loc_addr_value != loc_addr.value)) {
				loc_addr_value = local_search.searchForm.input.value =
					loc_addr.value;
//				local_search.searchForm.searchButton.click();
			}
		}

		if (loc_addr) {
			setInterval(updateSearchFormField, 2000);
		}

	};
	var locator_init_googlemap_onload = setInterval(function() {
		if (window.app) {
			clearInterval(locator_init_googlemap_onload);
			locator_init_googlemap();
		}
	}, 200);
}
//]]>
</script>
</mtapp:setting>
</MTIfNonZero>

</fieldset>
