<input type="hidden" name="field_address" value="1" />
<input type="hidden" name="field_map" value="1" />
<input type="hidden" name="field_zoom" value="1" />
<input type="hidden" name="enable_for_author" value="0" />
<input type="hidden" name="enable_for_blog" value="0" />
<input type="hidden" name="enable_for_entry" value="1" />

<MT_TRANS phrase="API Key">
<input name="googlemap_api_key" <TMPL_IF NAME=GOOGLEMAP_API_KEY>value="<TMPL_VAR NAME=GOOGLEMAP_API_KEY ESCAPE=HTML>"</TMPL_IF>/>
