<input type="hidden" name="enable_for_entry" value="<TMPL_VAR NAME=ENABLE_FOR_ENTRY>"/>
<mtapp:setting
	id="apikey"
	label="<__trans phrase="API Key(When this blog has specific key)">"
>
<input name="googlemap_api_key" <TMPL_IF NAME=GOOGLEMAP_API_KEY>value="<TMPL_VAR NAME=GOOGLEMAP_API_KEY ESCAPE=HTML>"</TMPL_IF>/>
</mtapp:setting>
