<input type="hidden" name="enable_for_entry" value="<TMPL_VAR NAME=ENABLE_FOR_ENTRY>"/>

<mt:LocatorIsPremier>
<mtapp:setting
	id="client_id"
	label="<__trans phrase="Client ID(When this blog has specific ID)">"
>
<input name="googlemap_api_key" <TMPL_IF NAME=GOOGLEMAP_CLIENT_ID>value="<TMPL_VAR NAME=GOOGLEMAP_CLIENT_ID ESCAPE=HTML>"</TMPL_IF>/>
</mtapp:setting>

<mtapp:setting
	id="crypto_key"
	label="<__trans phrase="Crypto key(When this blog has specific key)">"
>
<input name="googlemap_api_key" <TMPL_IF NAME=GOOGLEMAP_CRYPTO_KEY>value="<TMPL_VAR NAME=GOOGLEMAP_CRYPTO_KEY ESCAPE=HTML>"</TMPL_IF>/>
</mtapp:setting>
</mt:LocatorIsPremier>
