<mtapp:setting
	id="locator_field_address"
	label="<__trans phrase="locator-field address">"
>

<ul>
<li>
<input type="radio" name="field_address" value="0" <MTIf tag="LocatorFieldAddress" eq="0">checked="checked"</MTIf> /> <MT_TRANS phrase="locator-field not to use">
</li>

<li>
<input type="radio" name="field_address" value="1" <MTIf tag="LocatorFieldAddress" eq="1">checked="checked"</MTIf> /> <MT_TRANS phrase="locator-field any">
</li>

<li>
<input type="radio" name="field_address" value="2" <MTIf tag="LocatorFieldAddress" eq="2">checked="checked"</MTIf> /> <MT_TRANS phrase="locator-field required">
</li>

</ul>

</mtapp:setting>

<mtapp:setting
	id="locator_field_map"
	label="<__trans phrase="locator-field map">"
>

<ul>
<li>
<input type="radio" name="field_map" value="0" <MTIf tag="LocatorFieldMap" eq="0">checked="checked"</MTIf> onclick="toggleSubPrefs(this)" /> <MT_TRANS phrase="locator-field not to use">
</li>

<li>
<input type="radio" name="field_map" value="1" <MTIf tag="LocatorFieldMap" eq="1">checked="checked"</MTIf> onclick="toggleSubPrefs(this)"/> <MT_TRANS phrase="locator-field any">
</li>

<li>
<input type="radio" name="field_map" value="2" <MTIf tag="LocatorFieldMap" eq="2">checked="checked"</MTIf> onclick="toggleSubPrefs(this)"/> <MT_TRANS phrase="locator-field required">
</li>

</ul>

</mtapp:setting>

<div id="field_map-prefs" style="display: <MTIf tag="LocatorFieldMap" eq="0">none<MTElse>block</MTElse></MTIf>">
<mtapp:setting
	id="locator_field_zoom"
	label="<__trans phrase="locator-field zoom">"
>

<ul>

<li>
<input type="radio" name="field_zoom" value="0" <MTIf tag="LocatorFieldZoom" eq="0">checked="checked"</MTIf> /> <MT_TRANS phrase="locator-field not to use">
</li>

<li>
<input type="radio" name="field_zoom" value="1" <MTIf tag="LocatorFieldZoom" eq="1">checked="checked"</MTIf> /> <MT_TRANS phrase="locator-field use">
</li>

</ul>

</mtapp:setting>

<mtapp:setting
	id="locator_show_latlng"
	label="<__trans phrase="locator-show latlng">"
>
<ul>
<li>
<input type="radio" name="show_latlng" value="0" <MTUnless tag="show_latlng">checked="checked"</MTUnless> /> <MT_TRANS phrase="locator-field not to use">
</li>

<li>
<input type="radio" name="show_latlng" value="1" <MTIf name="show_latlng">checked="checked"</MTIf> /> <MT_TRANS phrase="locator-field use">
</li>
</ul>
</mtapp:setting>

</div>

<mtapp:setting
	id="locator_enable"
	label="<__trans phrase="Which context enable locator-field for">"
>

<ul>
<li>
<label><input type="checkbox" name="enable_for_author" id="enable_for_author" value="1" <MTIfNonZero tag="LocatorEnableForAuthor">checked="checked"</MTIfNonZero> /> <MT_TRANS phrase="for author"></label>
</li>

<li>
<label><input type="checkbox" name="enable_for_blog" id="enable_for_blog" value="1" <MTIfNonZero tag="LocatorEnableForBlog">checked="checked"</MTIfNonZero> /> <MT_TRANS phrase="for blog"></label>
</li>

<li>
<label><input type="checkbox" name="enable_for_page" id="enable_for_page" value="1" <MTIfNonZero tag="LocatorEnableForPage">checked="checked"</MTIfNonZero> onclick="toggleAdvancedPrefs(event, 'enable_for_page');" /> <MT_TRANS phrase="for page"></label>
</li>

<li>
<label><input type="checkbox" name="enable_for_entry" id="enable_for_entry" value="1" <MTIfNonZero tag="LocatorEnableForEntry">checked="checked"</MTIfNonZero> onclick="toggleAdvancedPrefs(event, 'enable_for_entry');" /> <MT_TRANS phrase="for entry"></label>
</li>

</ul>

</mtapp:setting>

<div id="enable_for_page-advanced" class="setting-advanced" style="display: <TMPL_IF NAME=ENABLE_FOR_PAGE>block<TMPL_ELSE>none</TMPL_IF>;">
<mtapp:setting
	id="blogs-for-page"
	label="<__trans phrase="Which blogs for page">"
>
<MTWebsites ids="all">
<label><input type="checkbox" value="1" name="enable_for_page_<MTBlogID/>" <MTIfNonZero tag="LocatorEnableForPage">checked="checked"</MTIfNonZero>/> <MTBlogName/></label><br/>
<MTBlogs include_blogs="children">
<label><input type="checkbox" value="1" name="enable_for_page_<MTBlogID/>" <MTIfNonZero tag="LocatorEnableForPage">checked="checked"</MTIfNonZero>/> <MTBlogName/></label><br/>
</MTBlogs>
</MTWebsites>
</mtapp:setting>
</div>

<div id="enable_for_entry-advanced" class="setting-advanced" style="display: <TMPL_IF NAME=ENABLE_FOR_ENTRY>block<TMPL_ELSE>none</TMPL_IF>;">
<mtapp:setting
	id="blogs"
	label="<__trans phrase="Which blogs for entry">"
>
<MTBlogs blog_ids="all">
<label><input type="checkbox" value="1" name="enable_for_entry_<MTBlogID/>" <MTIfNonZero tag="LocatorEnableForEntry">checked="checked"</MTIfNonZero>/> <MTBlogName/></label><br/>
</MTBlogs>
</mtapp:setting>
</div>

<mtapp:setting
	id="entry_placement"
	label="<__trans phrase="Insert into (for entry)">"
>

<ul>
<li>
<select name="entry_placement" id="entry_placement">
<option value="1" <mt:If name="entry_placement" eq="1">selected="selected"</mt:If>><__trans phrase="Under Text/More" /></option>
<option value="2" <mt:If name="entry_placement" eq="2">selected="selected"</mt:If>><__trans phrase="On Buttons" /></option>
</select>
</li>
</ul>

</mtapp:setting>

<mt:LocatorIsPremier>
<mtapp:setting
	id="client_id"
	label="<__trans phrase="GoogleMap Client ID">"
>
<input name="googlemap_api_key" <TMPL_IF NAME=GOOGLEMAP_CLIENT_ID>value="<TMPL_VAR NAME=GOOGLEMAP_CLIENT_ID ESCAPE=HTML>"</TMPL_IF>/>
</mtapp:setting>

<mtapp:setting
	id="crypto_key"
	label="<__trans phrase="GoogleMap Crypto key">"
>
<input name="googlemap_api_key" <TMPL_IF NAME=GOOGLEMAP_CRYPTO_KEY>value="<TMPL_VAR NAME=GOOGLEMAP_CRYPTO_KEY ESCAPE=HTML>"</TMPL_IF>/>
</mtapp:setting>
</mt:LocatorIsPremier>
