<mtapp:setting
	id="apikey"
	label="<__trans phrase="API Key<br/>(When this blog has specific key)">"
>
<input name="googlemap_api_key" <TMPL_IF NAME=GOOGLEMAP_API_KEY>value="<TMPL_VAR NAME=GOOGLEMAP_API_KEY ESCAPE=HTML>"</TMPL_IF>/>
</mtapp:setting>
