<div
	id="<$MTGetVar name="LocatorMapID"$>"
	class="<$MTGetVar name="LocatorMapClass"$>"
	style="<mt:If name="LocatorMapWidth">width: <$MTGetVar name="LocatorMapWidth"$>;</mt:If><mt:If name="LocatorMapHeight">height: <$MTGetVar name="LocatorMapHeight"$>;</mt:If><$MTGetVar name="LocatorMapStyle"$>"
></div>

<MTUnless name="locator_script_loaded">
<script src="http://maps.google.com/maps/api/js?v=3<mt:If tag="GoogleMapClientID">&client=<mt:GoogleMapClientID /></mt:If>&sensor=false" type="text/javascript"></script>
</MTUnless>

<script type="text/javascript">
(function() {
	var lat = '<$MTLocatorLatitude$>';
	var lng = '<$MTLocatorLongitude$>';
	var zoom = '<$MTLocatorZoom$>';
	if (zoom === '') {
		zoom = '<MT_TRANS phrase="Location default zoomlevel">';
	}
	var default_point = new google.maps.LatLng(lat,lng);

    var map = new google.maps.Map(document.getElementById("<$MTGetVar name="LocatorMapID"$>"), {
        zoom: parseInt(zoom),
        center: default_point,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: <MTGetVar name="LocatorMapTypeControl" encode_js="1" />,
        panControl: <MTGetVar name="LocatorPanControl" encode_js="1" />,
        zoomControl: <MTGetVar name="LocatorZoomControl" encode_js="1" />,
        scaleControl: <MTGetVar name="LocatorScaleControl" encode_js="1" />,
        streetViewControl: <MTGetVar name="LocatorStreetViewControl" encode_js="1" />
    });

    var marker = new google.maps.Marker({
        map: map,
        position: default_point
    });

	<MTIfNonEmpty var="LocatorInfoWindow">
    var info_window = null;
    function open_info_window() {
        if (! info_window) {
            info_window = new google.maps.InfoWindow({
                content: '<$MTGetVar name="LocatorInfoWindow" encode_js="1"$>'
            });
            google.maps.event.addListener(info_window, 'closeclick', function(ev) {
                info_window.close();
                info_window = null;
            });
        }
        info_window.open(map, marker);
    }
    open_info_window();

	google.maps.event.addListener(marker, 'click', function() {
		if (info_window) {
            info_window.close();
            info_window = null;
		}
		else {
            open_info_window();
		}
	});
	</MTIfNonEmpty>
})();
//]]>
</script>
