<div
	id="<$MTGetVar name="LocatorMapID"$>"
	class="<$MTGetVar name="LocatorMapClass"$>"
	style="width: <$MTGetVar name="LocatorMapWidth"$>; height: <$MTGetVar name="LocatorMapHeight"$>;<$MTGetVar name="LocatorMapStyle"$>"
></div>

<script
	src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<MTGoogleMapAPIKey/>"	type="text/javascript"
>
</script>

<script
	src="http://www.google.com/uds/api?file=uds.js&v=1.0&key=<MTGoogleMapAPIKey/>"
	type="text/javascript"
></script>
<script
	src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js"
	type="text/javascript"
></script>

<style type="text/css">
@import url("http://www.google.com/uds/css/gsearch.css");
@import url("http://www.google.com/uds/solutions/localsearch/gmlocalsearch.css");
</style>
<script type="text/javascript">
//<![CDATA[

if (GBrowserIsCompatible()) {
	(function() {
		map = new GMap2(document.getElementById("<$MTGetVar name="LocatorMapID"$>"));
		map.addControl(new GLargeMapControl());

		var lat = '<$MTLocatorLatitude$>';
		var lng = '<$MTLocatorLongitude$>';
		var zoom = '<$MTLocatorZoom$>"';
		if (zoom === '') {
			zoom = '<MT_TRANS phrase="Location default zoomlevel">';
		}

		var default_point = new GLatLng(lat,lng);
		var default_marker = new GMarker(default_point);

		map.setCenter(default_point, parseInt(zoom));
		map.addOverlay(default_marker)
		<MTIfNonEmpty var="LocatorInfoWindow">
			default_marker.openInfoWindow('<$MTGetVar name="LocatorInfoWindow" encode_js="1"$>');
		</MTIfNonEmpty>
	})();
}
//]]>
</script>
